
:root {
  /* POLAROID CONFIG */
  --polaroid-width: 160px;
  --polaroid-height: calc(1.7 * var(--polaroid-width));
  --polaroid-image-width: calc(0.85 * var(--polaroid-width));
  --polaroid-image-height: calc(1.49 * var(--polaroid-image-width));;
  --polaroid-mt: calc(0.1 * var(--polaroid-width));

  /* FONT SIZES */
  --fs-h0: 26px;
  --fs-h1: 24px;
  --fs-h2: 20px;
  --fs-h3: 18px;
  --fs-h4: 16px;
  --fs-content-lg: 16px;
  --fs-content-md: 14px;
  --fs-content-sl: 12px;

  /* FONT */
  --default-font: "Source Code Pro", monospace;


  width: 100vw;
  height: 100vh;
}

/* // <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name */

.source-code-pro-a {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
  font-weight: 450;
}

.container-row, 
.container-col,
.container {
 /* border: 2px dashed black; */
 width: 100%;
}
.container {
  display: flex;
  box-sizing: border-box;
}

.container-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.container-col {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.center,
.centre {
  margin-left: auto;
  margin-right: auto;
}

/*
  NAVBAR
*/
.nav {

  font-size: var(--fs-h1);
  width: 100%;
  padding: 13px 13px;
  height: fit-content;

  .nav-title {
    width: 100%;
    justify-content: center;
  }

  .nav-content {
    align-self: flex-end;
    width: 100%;
  }

  a,
  a:link {
    text-decoration: none;
    color: black;
  }
  .circle-container {
    position: absolute;
  }
  .circle {
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 100%;
    margin: auto;
    align-self: center;
    z-index: 2;
    background-color: white;
  }
  .line {
    border: 3px solid black;
    width: 100%;
    z-index: 1;
    position: relative;
    bottom: 50%;
  }
  .first-line {
    width: 50%;
    left: 50%;
  }
  .last-line {
    width: 50%;
  }
  .selected {
    background-color: rgb(154, 154, 154) !important;
  }
}

/* .navbar-content {
  
} */

.navbar-item {
  /* padding: 0px 10px; */
  font-size: 18px;
  height: 100%;
  align-content: center;
}

.navbar-item-top {
  height: 50%;
  padding: 2px 5px;
  margin-bottom: 2px;
  text-align: center;
}

.navbar-item-bottom {
  height: 50%;
}

/*
  PHOTOGRAPHY
*/
.photography-content {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 214, 200);
}

/*
  Polaroid
*/
.polaroid {
  /* border: 3px solid black; */
  background-color: #fffbf2;
  height: var(--polaroid-height);
  width: var(--polaroid-width);
  filter: drop-shadow(5px 5px 5px #d6d3ce);

}
.polaroid-image {
  /* border: 3px solid black; */
  background-color: orange;
  margin: auto;
  margin-top: var(--polaroid-mt);
  height: var(--polaroid-image-height);
  width: var(--polaroid-image-width);
  img {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}

/*
  PolaroidHousing
*/
.polaroid-housing {
  
  width: 90%;
  margin-top: 20px;
  border-radius: 15px;

  .title {
    margin-bottom: 5px;
    margin-left: 10px;
    width: 100%;
    justify-content: left;
    border-radius: inherit;
    font-size: var(--fs-h1);
  }
  .polaroid-content {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .polaroid {
    margin: 10px;
  }

}
.polaroid-housing:last-child {
  margin-bottom: 20px;
}